:root {
    --color-grey--light: #f1f1f1;
    --color-grey: #e4e4e4;
    --color-grey--dark: #9e9e9e;
    --color-accent: #fcd81d;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover,
a:active {
    color: #000;
}

.row {
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey);
}

.row--dark {
    background-color: var(--color-grey--light);
    border-bottom: 1px solid var(--color-grey);
}

.contain {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-top-row {
    display: flex;
    min-height: 50px;
    align-items: center;
    flex-wrap: nowrap;
}

.logo {
    display: block;
    flex-grow: 1;
}

.logo img {
    height: 85px;
    display: block;
}

.search {
    padding: 16px 32px;
}

.login {
    display: block;
    padding: 16px 32px;
}

nav {
    padding: 18px;
}

.nav-link {
    position: relative;
    padding: 8px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.nav-link:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--color-accent);
}

.hero {
    padding: 32px 0;
}

.carousel {
    max-width: 800px;
    max-height: 500px;
    margin: 0 auto;
    position: relative;
}

.carousel_arrow {
    display: flex;
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    border-radius: 50%;
}

.carousel_arrow:hover {
    background-color: var(--color-accent);
}

.carousel_arrow--left {
    left: -40px;
}

.carousel_arrow--left img {
    transform: rotate(-90deg);
}

.carousel_arrow--right {
    right: -40px;
}

.carousel_arrow--right img {
    transform: rotate(90deg);
}

.carousel.transitioning .carousel__slide.active,
.carousel.transitioning .carousel__slide.right,
.carousel.transitioning .carousel__slide.left {
    transition: all .5s;
}

.carousel__track {
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.carousel__slide {
    position: absolute;
    transition: all .5s;
    display: none;
}

.carousel__slide.left {
    transform: translateX(-100%);
    display: block;
}

.carousel__slide.right {
    transform: translateX(100%);
    display: block;
}

.carousel__slide.active {
    transform: translateX(0);
    display: block;
    z-index: 6;
}

.carousel__slide-image {
    display: block;
}

.carousel__slide-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.carousel__slide-content {
    width: 250px;
    background-color: rgba(255, 255, 255, .3);
    padding: 16px;
}

.carousel__slide-header {
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 8px 0;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 32px;
    list-style: none;
    padding: 0;
    margin: 32px 0;
}

.products-list__item-link {
    display: block;
    position: relative;
}

.products-list__item-image {
    display: block;
    max-width: 100%;
}

.products-list__item-name {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    text-shadow: 0.07em 0 white, 0 0.07em white, -0.07em 0 white, 0 -0.07em white;
    box-shadow: 2px 2px 8px #fff;
    background-color: rgba(255, 255, 255, 0.8);
}

footer {
    background: var(--color-grey--light);
    border-top: 1px solid var(--color-grey);
    border-bottom: 5px solid var(--color-accent);
    text-align: center;
    padding: 16px;
    font-size: 14px;
}

.new-product {
    display: none;
    width: 500px;
    height: 500px;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    background-color: #fff;
    z-index: 110;
    border: 4px solid var(--color-accent);
    box-shadow: 2px 2px 8px 3px var(--color-grey--dark), -2px -2px 8px 3px var(--color-grey--dark);
}

.new-product form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.new-product .label {
    margin: 16px 0 4px;
}

.new-product button {
    margin: 16px 0 4px;
}

.new-product .close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
}

.error {
    border: 1px solid red;
}

#removeProduct {
    color: red;
    display: none;
}

.btn {
    display: inline-block;
    position: relative;
    padding: 16px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
button.btn {
    padding: 8px;
}
.btn:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--color-accent);
}